<table>
    <tr>
        <td>
            <!-- Start .row -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- col-lg-4 start here -->
                    <div class="panel panel-default plain">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title bb">Parceiro</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row profile">
                                <!-- Start .row -->
